/*-------------------------------- about wrap css ----------------------------------*/
.about_wrap {
    background: #fff9f2;
    padding: 100px 0 195px;
    .about_left_img {
        position: relative;
        .about_mainImg {
            position: relative;
            left: -78px;
            img {
                border-radius: 5px;


                
            }
        }
        .about_img_itemone {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 150px;
            img {
                border: 20px solid #fff9f2;
                border-radius: 5px;
            }
        }
        .about_img_itemtwo {
            position: absolute;
            z-index: 2;
            left: 0;
            top: 357px;
            img {
                border: 20px solid #fff9f2;
                border-radius: 5px;
            }
        }
    }
    /*-------------------------------- about right css ----------------------------------*/
    .about_right {
        padding-top: 155px;
        .common_heading.common_hover {
            margin-bottom: 40px;
            display: inline-block;
        }
        .about_min_head {
            font-family: $playfair;
            font-weight: $fw700;
            font-size: 24px;
            line-height: 38px;
            color: $black;
            margin-bottom: 30px;
        }
        .about_des {
            font-family: $assistant;
            font-size: 16px;
            line-height: 26px;
            font-weight: $fw600;
            color: $black2;
            margin-bottom: 55px;
        }
        // .primary_Btn {
        
        // }
    }
}
/*-------------------------------- about home page two css ----------------------------------*/
.about_wrap_hometwo {
    padding: 130px 0 230px;
    background: $white;
    .about_left_img {
        position: relative;
        .about_mainImg {
            position: relative;
        }
        .about_img_itemone {
            position: absolute;
            top: 180px;
            right: 105px;
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(27, 33, 47, 0.1);
            z-index: 1;
            overflow: hidden;
            img {
                border-radius: 5px;
            }
        }
    }
    .about_img_itemtwo {
        display: flex;
        padding: 25px 30px;
        border-radius: 5px;
        background-color: rgb(247, 189, 1);
        box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(27, 33, 47, 0.1);
        position: absolute;
        z-index: 2;
        max-width: 247px;
        width: 100%;
        left: -40px;
        top: -40px;
        .about_headingclass {
            flex-grow: 1;
            font-family: $playfair;
            font-size: 22px;
            line-height: 30px;
            font-weight: $fw700;
            color: $white;
            text-transform: $textcapitazlie;
        }
        i {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $white;
        }
    }
    .about_img_itemthree {
        display: flex;
        flex-wrap: wrap;
        padding: 28px 30px 34px;
        max-width: 355px;
        width: 100%;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(27, 33, 47, 0.1);
        position: absolute;
        top: 130px;
        right: 0;
        z-index: 3;
        .about_headingclass {
            flex-grow: 1;
            color: $black;
            font-family: $playfair;
            font-size: 22px;
            line-height: 30px;
            font-weight: $fw700;
            text-transform: $textcapitazlie;
            margin-bottom: 12px;
        }
        i {
            display: flex;
            align-items: center;
            color: #0584d8;
        }
        p {
            font-family: $assistant;
            font-size: 16px;
            line-height: 24px;
            color: $black2;
            font-weight: $fw400;
            margin: 0;
        }
    }
    .about_img_itemfour {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 30px;
        position: absolute;
        bottom: -45px;
        left: 45px;
        z-index: 3;
        border-radius: 5px;
        background-color: rgb(240, 84, 95);
        box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(27, 33, 47, 0.1);
        max-width: 247px;
        width: 100%;
        .about_headingclass {
            display: flex;
            flex-grow: 1;
            font-family: $playfair;
            font-size: 22px;
            line-height: 30px;
            font-weight: $fw700;
            color: $white;
            text-transform: $textcapitazlie;
        }
        i {
            display: flex;
            align-items: center;
            color: $white;
        }
    }
    /*-------------- about home two right side css ----------*/
    .about_right {
        .common_heading {
            font-size: 36px;
            font-weight: $fw900;
            font-family: $playfair;
            line-height: 56px;
            color: $black;
            display: inline-block;
            margin-bottom: 40px;
        }
        .about_min_head {
            font-size: 20px;
            line-height: 32px;
            font-weight: $fw700;
            font-family: $playfair;
            color: $black;
            max-width: 505px;
            width: 100%;
            margin-bottom: 20px;
        }
        .about_des {
            font-family: $assistant;
            font-size: 16px;
            line-height: 24px;
            font-weight: $fw400;
            color: $black2;
            margin-bottom: 10px;
            max-width: 500px;
            width: 100%;
        }
        .about_sign {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            margin-bottom: 52px;
            &::before {
                position: absolute;
                right: 38%;
                top: 25%;
                content: "";
                width: 70px;
                height: 1px;
                background: #d1cfce;
            }
            .sign_name {
                font-size: 16px;
                line-height: 24px;
                font-weight: $fw700;
                font-family: $playfair;
                color: $black;
                text-transform: $textcapitazlie;
            }
            .sing_post {
                font-family: $assistant;
                font-size: 14px;
                line-height: 24px;
                font-weight: $fw400;
                color: $black;
                margin-bottom: 0;
            }
        }
        .primary_Btn {
            position: relative;
            background-color: #cce6f7;
            color: #0082d7;
            border-color: #cce6f7;
            overflow: hidden;
            z-index: 2;
            &::before {
                position: absolute;
                content: "";
                right: 0;
                top: 0;
                bottom: 0;
                width: 0;
                height: 100%;
                @include transition(0.4s);
                background: #ff6b4f;
                opacity: 0;
                visibility: hidden;
                border-radius: 50px;
                z-index: -1;
            }
            &:hover {
                color: $white;
                &::before {
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    /*-------------- about home two row two ----------*/
    .leftsideritem2 {
        .headingclass {
            font-family: $playfair;
            font-size: 30px;
            line-height: 46px;
            color: $black;
            font-weight: $fw700;
            margin-bottom: 40px;
        }
        .about_pra {
            font-family: $assistant;
            font-size: 18px;
            line-height: 26px;
            color: $black2;
            font-weight: $fw600;
            max-width: 510px;
            width: 100%;
            margin-bottom: 55px;
        }
        .primary_Btn {
            color: $theme-color2;
            background: #cce6f7;
            border-color: transparent;
        }
    }

    .about_rightImg {
        position: relative;
        left: 70px;
        .about_mainimg {
            position: relative;
            img {
                border-radius: 5px;
            }
        }
        .about_item_one {
            position: absolute;
            right: 50px;
            bottom: -80px;
            border-radius: 5px;
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(27, 33, 47, 0.1);
            z-index: 1;
        }
        .about_item_two {
            position: absolute;
            left: -60px;
            top: -60px;
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(255, 107, 79, 0.1);
        }
        .about_item_three {
            position: absolute;
            left: -30px;
            bottom: -30px;
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(255, 107, 79, 0.1);
            border-radius: 5px;
        }

        .about_item_four {
            position: absolute;
            right: 0;
            bottom: 86px;
            border-radius: 5px;
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(247, 189, 1, 0.1);
            z-index: 2;
        }
        .single_description {
            padding: 20px 30px;
            background: #fff;
            border-radius: 5px;
            position: absolute;
            top: 115px;
            right: -45px;
            z-index: 3;
            .feat_min_head {
                font-family: $assistant;
                font-weight: $fw600;
                font-size: 16px;
                line-height: 25px;
                color: $theme-color2;
                text-transform: $textcapitazlie;
                margin-bottom: 8px;
            }
            .feat_main_head {
                font-family: $playfair;
                font-size: 22px;
                color: $black;
                line-height: 30px;
                font-weight: $fw700;
                text-transform: $textcapitazlie;
                margin-bottom: 12px;
            }
            .room_des {
                .room_price {
                    font-size: 16px;
                    line-height: 25px;
                    font-family: $assistant;
                    font-weight: $fw600;
                    color: $black2;
                    text-transform: $textcapitazlie;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        right: -20px;
                        width: 1px;
                        height: 14px;
                        background: #d1cfce;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .room_del {
                    font-size: 16px;
                    line-height: 25px;
                    font-family: $assistant;
                    font-weight: $fw600;
                    color: $black;
                    text-transform: $textcapitazlie;
                    margin-left: 40px;
                    display: inline-flex;
                    align-items: center;
                    @include transition(0.5s);
                    i {
                        @include transition(0.5s);
                    }
                    &:hover {
                        color: $theme-color;
                        i {
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}
