
/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
// Font Family
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body {
    font-family: $assistant;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: $black2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a, button {
    outline: none;
    border: none;
}
a:focus,
.button:focus {
text-decoration: none;
outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $playfair;
    color: $black;
    margin: 0;
    font-style: normal;
}

::selection {
    background: $black;
    color: $white;
    text-shadow: none;
}
/*--
    - Input Placeholder
-----------------------------------------*/

*::placeholder {
    color: $black;
    font-size: 14px;
    opacity: 1;
}


/*--
    - position Classes
-----------------------------------------*/

.posrelative {
    position: relative;
}
.posabsolute {
    position: absolute;
}

/*--
    - Theme btn
-----------------------------------------*/

.primary_Btn{
display: inline-block;
color: $white;
font-size: 14px;
font-weight: $fw700;
font-family: $playfair;
box-shadow: none;
border-radius: 50px;
border: 1px solid $theme-color;
text-transform: $textcapitazlie;
padding: 13px 40px;
@include transition(0.5s);
outline: none;
background: $theme-color;
&:hover {
    border-color: #d1cfce;
    color: $black;
    background: transparent;
}
}


.common_heading {
    font-size: 40px;
    font-weight: $fw700;
    line-height: 56px;
    color: $black;
    font-family: $playfair;
}
.common_headtwo {
    font-size: 36px;
    font-weight: $fw900;
    line-height: 56px;
    color: $black;
    font-family: $playfair;
}
.common_headthree {
    font-size: 30px;
    font-weight: $fw900;
    line-height: 56px;
    color: $black;
    font-family: $playfair;
}