.header {
    .header_top_bar {
        .headertop_info {
            padding: 14px 0;
            span {
                font-size: 14px;
                font-family: $assistant;
                font-weight: $fw600;
                color: $black2;
                @include transition(0.3s);
                cursor: pointer;
                margin-right: 60px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: $theme-color;
                }
            }
            b {
                font-weight: $fw700;
                color: $black;
                text-transform: capitalize;
            }
        }
        .headertop_phn {
        }
        .headertop_address {
        }
        border-bottom: 1px solid #f1f1f0;
    }
    // header-top-area-end

    .main_menu {
        .navbar {
            padding: 0;
            outline: none;
            .logo {
                img {
                    max-width: 112px;
                    width: 100%;
                    + img {
                        display: none;
                    }
                }
            }
            // hamburger button start
            .hamburger_Btn {
                padding: 0;
                outline: none;
                box-shadow: none;
                .bar_icon {
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    .bar {
                        position: absolute;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background: $theme-color;
                        @include transition(0.5s);
                        &.bar_1 {
                            top: 0;
                        }
                        &.bar_2 {
                            top: 50%;
                        }
                        &.bar_3 {
                            top: 100%;
                        }
                    }
                }
                &[aria-expanded="true"] {
                    .bar {
                        &.bar_1 {
                            top: 50%;
                            transform: rotate(45deg);
                        }
                        &.bar_2 {
                            opacity: 0;
                        }
                        &.bar_3 {
                            top: 50%;
                            transform: rotate(-45deg) translateY(-50%);
                        }
                    }
                }
            }
            // main_menu
            .header_menu {
                ul {
                    align-items: center;
                    li {
                        margin-right: 40px;
                        position: relative;
                        padding: 30px 0;
                        &:last-child {
                            // margin-right: 20px;
                        }
                        a {
                            padding: 0;
                            font-family: $playfair;
                            font-size: 16px;
                            font-weight: $fw700;
                            color: $black;
                            text-transform: $textcapitazlie;
                            position: relative;
                            @include transition(0.5s);
                            &::before {
                                position: absolute;
                                content: "";
                                right: 0;
                                width: 0;
                                bottom: -4px;
                                height: 2px;
                                opacity: 0;
                                background-color: $theme-color;
                                @include transition(0.5s);
                            }
                            &:hover {
                                &::before {
                                    opacity: 1;
                                    width: 100%;
                                    left: 0;
                                    right: auto;
                                }
                            }
                            &.dropdown-toggle {
                                &::after {
                                    position: absolute;
                                    content: "\33";
                                    right: -17px;
                                    top: 0;
                                    font-family: "eleganticons";
                                    border: none;
                                    padding: 0;
                                }
                            }
                        }
                        &.active {
                            a {
                                &::before {
                                    width: 100%;
                                    opacity: 1;
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }
                        .dropdown-menu {
                            padding: 20px 30px;
                            background-color: $white;
                            border-radius: 0;
                            border: none;
                            @include transition(0.3s);
                            .menu-item {
                                margin-right: 0;
                                padding: 0;
                                display: block;
                                a {
                                    font-family: $playfair;
                                    font-size: 16px;
                                    font-weight: $fw700;
                                    color: $black;
                                    line-height: 40px;
                                    background: transparent;
                                    text-transform: $textcapitazlie;
                                    position: relative;
                                    @include transition(0.3s);
                                    &::before {
                                        display: none;
                                    }
                                    &:hover {
                                        color: $theme-color;
                                        background: transparent;
                                        text-decoration: none;
                                    }
                                }
                                &.active {
                                    a {
                                        color: $theme-color;
                                        &::before {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // navigation button and profile icon
                .getBtn_icon {
                    li {
                        display: inline-block;
                        margin-right: 35px;
                        .icon_profile {
                            font-size: 20px;
                            line-height: inherit;
                            padding: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    &.navbar_fixed {
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        z-index: 1000;
        @include transition(0.3s);
        box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.04);
        background: $white;
    }
}
