.header {
    .header_top_bar {
        .headertop_info{
            padding: 14px 0;
            span {
                font-size: 14px;
                font-family: $assistant;
                font-weight: $fw600;
                color: $black2;
                @include transition(0.5s);
                cursor: pointer;
                margin-right: 60px;
                &:last-child{
                    margin-right: 0;
                }
                &:hover {
                    color: $theme-color;
                }
            }
            b {
                font-weight: $fw700;
                color: $black;
                text-transform: capitalize;
            }

        }
        .headertop_phn{

        }
        .headertop_address{

        }
        border-bottom: 1px solid #f1f1f0;
    }
}
