/*-------------------------------- newsletter css ----------------------------------*/
.newsletter_wrap{
    background-color: #fff9f2;
    padding: 100px 0 70px;
    .container.custom_container {
        // background: #f99b1b;
        background: #f99b1b url(../img/newsletter/newsletter-02.jpg) no-repeat center center / cover;
        max-width: 1000px;
        width: 100%;
        padding: 50px 30px 60px;
        border-radius: 5px;
        box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(0, 0, 0, 0.1);
        .newsletter_main{
            .newsletter_heading{
                font-family: $playfair;
                font-size: 30px;
                line-height: 40px;
                font-weight: $fw700;
                color: $white;
                text-transform: $textcapitazlie;
                margin-bottom: 40px;
            }
            .subscribe_form{
                position: relative;
                max-width: 580px;
                width: 100%;
                margin: 0 auto;
                .input-group {
                    display: flex;
                    flex-wrap: nowrap;
                    input {
                        font-family: $assistant;
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: $fw400;
                        border-radius: 5px;
                        background: $white;
                        padding: 5px 15px 0 30px;
                        height: 50px;
                        line-height: 50px;  
                        border-color: transparent;
                        border-width: 0;
                        text-transform: $textcapitazlie;
                        margin-right: 20px;
                        flex-grow: 1;
                        flex-basis: 69%;
                        &::placeholder {
                        color: $black2;
                        }
                        &:focus {
                            border-color: transparent;
                            box-shadow: none;
                        }

                    }
                    .Subscribe_btn {
                        font-family: $playfair;
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: $fw400;
                        border-radius: 5px!important;
                        background: $black;
                        color: $white;
                        padding: 5px 25px ;
                        text-transform: $textcapitazlie;
                        letter-spacing: 0.40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 31%;
                        @include transition(0.5s);
                        
                        &:hover {
                            background: $white;
                            color: $black ;
                        }
                    }
                }
            }
        }
    }

}