


// font-family: 'Playfair Display', serif;
// font-family: 'Assistant', sans-serif;


// colors
$playfair: 'Playfair Display', sans-serif;
$assistant: 'Assistant', sans-serif;



$white: #fff;
$black: #1b212f;
$black2: #494d59;
$grey: #0082d7;
$theme-color: #f89001; 
$theme-color2: #0082d7;
$theme-color3: #01a13c;

$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw900: 900;


$textuppercase: uppercase;
$textcapitazlie: capitalize;
