/*-------------------------------- service css ----------------------------------*/
.service_wrap {
  padding: 140px 0 30px;
  padding: 300px; }
  .service_wrap .service_head_wrap .common_heading {
    margin-bottom: 55px; }

/*-------------------------------- single service css ----------------------------------*/
